html, body {
    font-size: 14px;
    margin: 0;
    height: 100vh;
    width: 100vw;

}

* {
    box-sizing: border-box;
}
.isloading__wrapper {
    position: absolute;
}

img {
    &.shopkeeper {
        max-width: 800px;
        width: 100%;
    }
}